{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link href="{% static 'css/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="m-3 p-3 shadow-sm">
                            <h3 class="text-center py-3">Yetkazib beruvchi tafsilotlari</h3>
                            <div class="table-responsive">
                                <table class="table table-striped text-center">
                                    <tbody>
                                        <tr>
                                            <th>Nomi</th>
                                            <td>{{ supplier.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Telefon raqami</th>
                                            <td>{{ supplier.phone_number }}</td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td>{{ supplier.email }}</td>
                                        </tr>
                                        <tr>
                                            <th>Taqdim etilgan partiyalar</th>
                                            <td>{{ supplier.batches.count }}</td>
                                        </tr>
                                        <tr>
                                            <th>Qo'shilgan sana</th>
                                            <td>{{ supplier.created_on }}</td>
                                        </tr>
                                        <tr>
                                            <th>Oxirgi yangilash</th>
                                            <td>{{ supplier.updated_on }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'equipment:supplier_edit' supplier.pk %}" class="mx-1">
                                <button class="btn btn-md w-50 btn-primary">tahrirlash</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-md-12">
            <div class="card Recent-suppliers">
                <div class="card-header">
                    <h5>Barcha partiyalar yetkazib beriladi</h5>
                </div>
                <div class="card-block px-0 py-3">
                    <div class="table-responsive">

                        <table class="table" id="data-table">
                            <div class="float-right">
                                <a href="{% url 'equipment:batch_add' %}" class="label theme-bg2 text-white f-12">To'plam qo'shish</a>
                            </div>
                           <thead>
                        <tr>
                            <th>Seriya raqami</th>
                            <th>Universitet</th>
                            <th>Jihoz turi</th>
                            <th>Uskunalar miqdori</th>
                            <th>Qo'shilgan sana</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for batch in batches %}
                        <tr>
                            <td>{{ batch.serial_no }}</td>
                            <td>{{ batch.school.name | truncatechars:13 }}</td>
                            <td>{{ batch.category }}</td>
                            <td>{{ batch.equipment_quantities }}</td>
                            <td>{{ batch.created_on }}</td>
                            <td><a href=" {% url 'equipment:batch_details' batch.pk %} " class="label theme-bg2 text-white f-12">ko'rish</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}

{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $('#data-table').DataTable();
</script>
{% endblock %}