{% extends 'base.html' %}
{% load static %}



{% block styles %}
<link href="{% static 'css/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="m-3 p-3 shadow-sm">
                            <h3 class="text-center py-3">Ajratish tafsilotlari</h3>
                            <div class="table-responsive">
                                <table class="table table-striped text-center">
                                    <tbody>
                                        <tr>
                                            <th>Kimga ajratilgan.</th>
                                            {% if allocation.allocated_to.user_type == 'Student' %}
                                            <td> <a href="{% url 'dashboard:student_details' allocation.allocated_to.id %}"> {{ allocation.allocated_to.get_full_name }} - {{ allocation.allocated_to.registration_no }}  </a> </td>
                                            {% elif allocation.allocated_to.user_type == 'Lecturer' %}
                                            <td> <a href="{% url 'dashboard:lecturer_details' allocation.allocated_to.id %}"> {{ allocation.allocated_to.get_full_name }} - {{ allocation.allocated_to.staff_id }} </a> </td>
                                            {% elif allocation.allocated_to.user_type == 'Lab_Tech' %}
                                            <td> <a href="{% url 'dashboard:lab_technician_details' allocation.allocated_to.id %}"> {{ allocation.allocated_to.get_full_name }} </a> </td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <th>Jihoz nomi</th>
                                            <td><a href="{% url 'users:equipment_details' allocation.equipment.id %}">{{ allocation.equipment.name }}  </a></td>
                                        </tr>
                                        <tr>
                                            <th>Jihozlar seriya raqami.</th>
                                            <td> {{ allocation.equipment.serial_no }}</td>
                                        </tr>
                                        {% if allocation.equipment.is_lost %}

                                       <tr>
                                            <th>Holat</th>
                                            <td><span class="badge badge-pill badge-danger">Yo'qotilgan</span></td>
                                        </tr>
                                       <tr>
                                            <th>To'lanadigan miqdor</th>
                                            <td>Ksh {{ allocation.equipment.price|floatformat:2 }}</td>
                                        </tr>
                                        {% endif %}
                                        {% if allocation.equipment.is_damaged %}

                                       <tr>
                                            <th>Ishlash holati</th>
                                            <td><span class="badge badge-pill badge-danger">Shikastlangan</span></td>
                                        </tr>
                                        {% endif %}
                                        <tr>
                                            <th>Qo'shilgan</th>
                                            <td>{{ allocation.created_on }}</td>
                                        </tr>
                                        <tr>
                                            <th>Tomonidan ajratilgan</th>
                                            <td> <a href="{% url 'dashboard:lab_technician_details' allocation.allocated_by.id %}"> {{ allocation.allocated_by }} </a> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% if request.user.user_type == 'Lab_Tech' %}
                        <div class="text-center">
                        {% if not allocation.is_returned %}
                            <a href="{% url 'equipment:allocation_return_action' pk=allocation.pk %}" class="mx-1">
                                <button class="btn btn-md  btn-success">Qaytarilgan deb belgilash</button>
                            </a>
                        {% endif %}
                            {% if not allocation.equipment.is_damaged %}
                            <a href="{% url 'equipment:allocation_damaged_action' pk=allocation.pk %}" class="mx-1">
                                <button class="btn btn-md  btn-warning">Buzilgan deb belgilash</button>
                            </a>
                            {% else%}
                            <a href="{% url 'equipment:allocation_fixed_action' pk=allocation.pk %}" class="mx-1">
                                <button class="btn btn-md  btn-info">Tuzatilgan deb belgilash</button>
                            </a>
                            {% endif %}
                            {% if not allocation.equipment.is_lost %}
                            <a href="{% url 'equipment:allocation_lost_action' pk=allocation.pk %}" class="mx-1">
                                <button class="btn btn-md  btn-warning">Mark as Lost</button>
                            </a>
                            {% else%}
                            <a href="{% url 'equipment:allocation_replaced_action' pk=allocation.pk %}" class="mx-1">
                                <button class="btn btn-md  btn-info">Mark as Replaced</button>
                            </a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
    
    </div>
</div>

{% endblock  %}

{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $('#data-table').DataTable();
</script>
{% endblock %}