{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link href="{% static 'css/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="m-3 p-3 shadow-sm">
                            <h3 class="text-center py-3">Kurs tafsilotlari</h3>
                            <div class="table-responsive">
                                <table class="table table-striped text-center">
                                    <tbody>
                                        <tr>
                                            <th>Nomi</th>
                                            <td>{{ course.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Kafedra</th>
                                            <td>{{ course.department.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Qo'shilgan sana</th>
                                            <td>{{ course.created_on }}</td>
                                        </tr>
                                        <tr>
                                            <th>Talabalar</th>
                                            <td>{{ course.students_in_course_count }}</td>
                                        </tr>
                                        <tr>
                                            <th>Oxirgi yangilash</th>
                                            <td>{{ course.updated_on }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="{% url 'schools:course_edit' course.pk %}" class="mx-1">
                                <button class="btn btn-md w-50 btn-primary">tahrirlash</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-12">
            <div class="card Recent-courses">
                <div class="card-header">
                    <h5>Barcha talabalar {{course.name}}</h5>
                </div>

                <div class="card-block px-0 py-3">
                    <div class="table-responsive">

                        <table class="table" id="data-table">
                            <div class="float-right">
                                <a href="{% url 'schools:course_add' %}" class="label theme-bg2 text-white f-12">Talaba qo'shish</a>
                            </div>
                            <thead>
                                <tr>
                                    <th> Nomi </th>
                                    <th> Ro'yxatdan o'tish raqami </th>
                                    <th> O'quv yili </th>
                                    <th> Qo'shilgan </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td>{{ user.get_full_name }}</td>
                                    <td>{{ user.registration_no }}</td>
                                    <td>{{ user.year_of_study }}</td>
                                    <td>{{ user.date_joined }}</td>
                                    <td><a href="{% url 'dashboard:student_details' user.pk %}"
                                            class="label theme-bg2 text-white f-12">ko'rish</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock  %}

{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $('#data-table').DataTable();
</script>
{% endblock %}