{% extends 'base.html' %}
{% load static %}


{% block styles %}
<link href="{% static 'css/data-tables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="m-3 p-3 shadow-sm">
                            <h3 class="text-center py-3">Saqlash birligi tafsilotlari</h3>
                            <div class="table-responsive">
                                <table class="table table-striped text-center">
                                    <tbody>
                                        <tr>
                                            <th>Nomi</th>
                                            <td>{{ unit.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Xona</th>
                                            <td>{{ unit.lab.room }}</td>
                                        </tr>
                                        <tr>
                                            <th>Laboratoriya</th>
                                            <td>{{ unit.lab.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Uskunalar miqdori</th>
                                            <td>{{ unit.equipment_count }}</td>
                                        </tr> 
                                        <tr>
                                            <th>Qo'shilgan</th>
                                            <td>{{ unit.created_on }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% comment %} <div class="text-center">
                            <a href="{% url 'users:storage_unit_edit' unit.pk %}" class="mx-1">
                                <button class="btn btn-md w-50 btn-primary">Tahrirlash</button>
                            </a>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-12">
        <div class="card Recent-Storage Units">
        <div class="card-header">
            <h5 class="text-capitalize">Ushbu saqlash birligidagi barcha uskunalar</h5>
        </div>
        <div class="card-block px-0 py-3">
            <div class="table-responsive">
                <table class="table" id="data-table">
                    <thead>
                        <tr>
                            <th> Seriya raqami </th>
                            <th> Jihoz turi </th> 
                            <th> Laboratoriya </th>
                            <th> Holat </th> 
                            <th> Qo'shilgan sana </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipment in equipments %}
                        <tr>
                            <td>{{ equipment.serial_no }}</td>
                            <td>{{ equipment.category.name }}</td>
                            <td>{{ equipment.lab.name }}</td>
                            {% if equipment.is_damaged == False %}
                             <td> <span class="badge badge-pill badge-success">Yaroqli</span></td>
                             {% else %}
                              <td> <span class="badge badge-pill badge-danger">Shikastlangan</span></td>
                            {% endif %}
                            <td>{{ equipment.created_on }}</td>
                            <td><a href=" {% url 'users:equipment_details' equipment.pk %} " class="label theme-bg2 text-white f-12">Ko'rish</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    
    </div>
</div>

{% endblock  %}

{% block scripts %}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script>
    $('#data-table').DataTable();
</script>
{% endblock %}